# Виртуальное окружение
.venv/
venv/
ENV/

# Кэш Python
__pycache__/
*.pyc

# База данных (в ТЗ указана SQLite, её файл мы будем держать локально)
*.sqlite3
*.db

# Переменные окружения (конфиденциальные данные)
.env